<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>koa2-demo</title>
</head>
<body>
    dddd2222
    <%= msg %>
    <script src="/js/index.jsd"></script>
</body>
</html>